.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 1rem 0;
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow-x: "wrap";
  /* background-image: url("/d_hands.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 458px 573px;
  background-position: right; */
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.grid {
  display: flex;
  align-self: flex-start;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 400px;
  height: 200px;
  margin-top: 3rem;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
